@use "../../../styles/variables" as variables;
@use "../../../styles/mixins" as mixins;

.root {
  width: 100%;
  padding-top: 20px;
  padding-inline: 140px;

  @include mixins.respond-below(variables.$breakpoint-lg) {
    padding-inline: 100px;
  }

  @include mixins.respond-below(variables.$breakpoint-md) {
    padding-inline: 70px;
  }

  @include mixins.respond-below(variables.$breakpoint-sm) {
    padding-inline: 56px;
  }

  @include mixins.respond-below(variables.$breakpoint-xs) {
    padding-inline: variables.$spacing-4;
  }
}
